body {
    margin: 0;
    background-color: white;
    transition: background-color 2s ease;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-bar {
    background-color: rgb(0, 153, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    padding: 0;
}

.nav-bar ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: white;
    padding: 5px;
    color: rgb(0, 153, 255);
    border-radius: 3px;
    border: 1px solid black;
}

h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
    font-family: 'Calibri', sans-serif;
}

.button-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

button {
    font-size: 1.5rem;
    background-color: rgb(0, 153, 255);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 0px;
}

button:hover {
    background-color: rgb(0, 123, 205);
    transform: scale(1.05);
}

p {
    text-align: center;
    font-size: 1.5rem;
}

#currentColour {
    transition: opacity 1s ease;
    opacity: 1;
}





